.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #3f51b5; // Example color
  color: white;

  .user-name {
    margin-left: auto; // Pushes the user name to the right
    margin-right: 16px; // Adds spacing between the user name and the logout icon
  }

  .logout-icon {
    cursor: pointer;
    &:hover {
      color: #ff4081; // Example hover color
    }
  }
}

.content {
  padding: 16px;
}